{{ define "subject" }}Welcome to GoDo{{ end }}

{{define "plainBody"}}
Hi, Thanks for signing up for a GoDo account. Get ready to do things! For future reference, your user ID number is {{.User.ID}}. 

Please send a request to the `PUT /v1/users/activation` endpoint with the following JSON body to activate your account:

{"token": "{{.Token.Plaintext}}"}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks, 
The GoDo Team
{{ end }}

{{ define "htmlBody" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>Hi,</p>
  <p>Thanks for signing up for a GoDo account. Get ready to do things!</p>
  <p> We're excited to have you on board! For future reference, your user ID number is {{.User.ID}}.</p>
  <p>Please send a request to the <code>PUT /v1/users/activation</code> endpoint with the following JSON body to activate your account:</p>
  <pre>
    <code>
      {"token": "{{.Token.Plaintext}}"}
    </code>
  </pre>
  <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
  <p>Thanks,</p>
  <p>The GoDo Team</p>
</body>
</html>
{{ end }}